
.about {
  padding-top: 112px;
  padding-bottom: 90px;
  background-color: $color-light;
}

.about__title {
  color: $color-black;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 39px;
}

.about__description {
  line-height: $line-height-lg;
  color: $color-secondary;
  text-align: center;
}
