@use "../presets" as *;
@use "../mixins" as *;

.experience {
  background-color: $color-primary;
  color: $color-white;
  padding: 100px 0 96px;

  &__flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-md;

    @include sm-min {
      justify-content: space-between;
    }
    @include sm {
      justify-content: center;
    }
  }
}

.experience-item {
  display: flex;
  justify-content: center;
  gap: $gap;

  @include xl-min {
    flex-basis: 0;
  }
  @include xl-md {
    flex-basis: 25%;
  }
  @include md-sm {
    flex-basis: 40%;
  }
  @include sm {
    flex-basis: 70%;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__number {
    font-size: 1.3125rem;
    font-weight: 500;
  }

  &__image {
    order: -1;
  }
}
