@use "../presets" as *;
@use "../mixins" as *;

.process {
  padding-top: 112px;
  padding-bottom: 50px;
  background-color: $color-gray-light;

  &__title {
    color: $color-black;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 39px;
  }

  &__description {
    line-height: $line-height-lg;
    color: $color-secondary;
    text-align: center;
  }
}
