.process {
  padding-top: 112px;
  padding-bottom: 50px;
  background-color: $color-gray-light;
}

.process__title {
  color: $color-black;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 39px;
}

.process__description {
  line-height: $line-height-lg;
  color: $color-secondary;
  text-align: center;
}
