.navbar {
  margin-bottom: 116px;

  &__list {
    display: flex;
    gap: $gap-lg;
  }

  &__link {
    color: $color-black;
    letter-spacing: $letter-spacing;
    padding: $gap-sm 3px $gap-sm 0;

    &--active {
      color: $color-primary;
      font-weight: 500;
    }
  }
}
